/* 
contrast checker: https://coolors.co/contrast-checker/000000-eaf0f6
background color: #f8fafc, #f1f5f9;
color:#1e293b,#22c55e,#f93c16;
imagees:: svg-repo
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "Times New Roman", Times, serif;
  font-size: large;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
  color: #1e293b;
  padding: 2rem;
}
.page-container {
  max-width: 900px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}
.title {
  font-size: 2.5em;
}
.task-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em;
}
.task-card {
  background-color: white;
  flex-grow: 0.3;
  padding: 2.5em;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.number {
  font-size: 1.5em;
  font-weight: bold;
}
.green {
  color: #22c55e;
}
.red {
  color: #f93c16;
}
.task-name {
  font-size: 1.2em;
  color: #556172;
}
.add-task {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5em;
  margin: 1.5em;
}
.add-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}
.add-container h2 {
  font-size: 1.5em;
}
.task-input {
  width: 100%;
  font-size: 0.9em;
  padding: 0.3em;
  border-radius: 0.5rem;
  margin-bottom: 1em;
}
.svg {
  width: 1.5em;
}
.add-btn {
  background-color: #1e293b;
  color: white;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.3em;
}
.add-btn:hover {
  color: gold;
}
.task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5em;
  gap: 1em;
}
.added-task {
  background-color: white;
  padding: 1.5em;
  border-radius: 0.5em;
}
.added-task-title-container {
  display: flex;
  justify-content: space-between;
}
.added-task-title {
  font-size: 1.2em;
}
.added-task-description {
  font-size: 1em;
}
.trash:hover {
  cursor: pointer;
  background-color: red;
}
footer {
  margin: 1em;
}
